attrdict @ git+https://github.com/akitenkrad/attrdict

black
flake8
isort
mypy

ipython
ipywidgets
jupyterlab
colorama

nltk
numpy
pandas
plotly
progressbar
py-cpuinfo
pytest
python-dateutil
python-dotenv
tqdm
spacy
janome
sumeval
types-python-dateutil
types-PyYAML
types-requests
typing-extensions
types-toml
